<!DOCTYPE html>
<html>

</body>
<div class="container bg-light" style="border-radius: 5px; border: 2px solid black; margin-top:20px; padding:10px;">
<div class="row">
	<div class="col-sm-4">
	<!-- <h3>{{ usr }}'s Updates </h3> -->
		</div>
			<div class="col-sm-8">
			<iframe src="https://giphy.com/embed/3NtY188QaxDdC" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/3NtY188QaxDdC">via GIPHY</a></p>
		</div>
	</div>
</div>

</html>