<!DOCTYPE html>
<html>
<!-- <head>
<link rel="stylesheet" href='/static/s' />
</head> -->
<body>
<h2>Effected Variables</h2>
<ul>
{% for item in data %}
    <li> {{ item }} </li>
{% endfor %}
</ul>
<div class="container bg-light" style="border-radius: 5px; border: 2px solid black; margin-top:20px; padding:10px;">
<div class="row">
	<div class="col-sm-4">
	<!-- <h3>{{ usr }}'s Updates </h3> -->
		</div>
			<div class="col-sm-8">
<iframe src="https://giphy.com/embed/QU2d7K3h55p3q" width="480" height="269" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/trolls-bolt-usain-QU2d7K3h55p3q">via GIPHY</a></p>
		</div>
	</div>
</div>

</body>
<!-- <h2>Effected functions</h2>
<ul>
{% for item in data2 %}
    <li> {{ item }} </li>
{% endfor %}
</ul> -->

</html>